<p id="notice"><%= notice %></p>
<div class="new_entry">
  <p class="entry_button"><%= link_to 'New Entry', new_entry_path, :class => 'create_entry' %></p>
</div>
<div class="all_entries">
  <%@entries.each do |entry| %>
  <p><%=entry.title%><p>
  <p><%=entry.content %></p>
  <% end %>
<p> entries count <%= @entries.count %> </p>
</div>
